body, html {
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

body {
    position: relative;
    height: 100%;
}

a {
    color: white;
    text-decoration: none;
}

.page-body {
    position: relative;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1200px;
    height: 100%;
}

.main-section {
    border: solid 1px black;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 30px 100px 100px 100px;
    max-width: 100%;
}

.dog-container img {
    max-width: 100%;
    margin-top: 50px;
}

.scroll-bar {
    position: sticky;
    padding: 10px;
    position: sticky;
    top: 0;
    background-color: black;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    z-index: 999;
}

.scroll-bar::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.scroll-list {
    color: white;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.scroll-list li {
    min-width: 200px;
    font-size: 3rem;
    line-height: 1em;
    list-style: none;
}

:target {
    scroll-margin-top: 20vh;
}